$font-primary: 'Montserrat', sans-serif;
$font-description: 'Open Sans', sans-serif;

$color-primary: #F03000;

$spacer: 20px;

body {
    font-family: $font-primary;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 $spacer;
}

.header {
    margin: 40px auto 30px auto;

    &__logo {
        width: 100%;
        max-height: 30px;
    }

    &__menu {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: 30px;
        padding: 0;
    }

    &__link {
        text-decoration: none;
        color: $color-primary;
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        padding: $spacer;

        &:hover {
            background-color: $color-primary;
            color: white;
        }
    }

    @media (min-width: 768px) { 
        display: flex;
        justify-content: space-between;

        &__logo {
            flex: 1 1 30%;
            align-self: center;
        }

        &__menu {
            margin: 0;
            flex: 1 1 70%;
            justify-content: right;
        }
    }
}


.main {
    margin-left: auto;
    margin-right: auto;
}

.offer {
    color: white;

    &__main {
        background-color: #888888;
        background-size: cover;
        background-position: center;
        margin-bottom: $spacer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__minor {
        background-color: #888888;
        background-size: cover;
        background-position: left bottom;
        margin-bottom: $spacer;
    }

    &__price {
        background-color: $color-primary;
        font-size: 18px;
        display: inline-block;
        padding: 10px;
        margin: $spacer;
    }

    &__title {
        padding: $spacer $spacer 0 $spacer;
        margin: 0;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
        padding: $spacer;
    }

    &__description {
        font-family: $font-description;
        padding: $spacer;
        margin: 0;
    }

    @media (min-width: 768px) { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacer;

        &__main {
            grid-column: 1 / -1;
            margin: 0;
        }

        .minor1 {
            grid-column: 1 / 2;
        }

        .minor2 {
            grid-column: 2 / 3;
        }
    }

    @media (min-width: 960px) { 
        grid-template-rows: 1fr 1fr;
        margin-bottom: $spacer;

        .var1 {
            grid-template-columns: 2fr 1fr;
        }

        .var2 {
            grid-template-columns: 1fr 2fr;
        }

        &__main {
            grid-column: 1 / 2;
            grid-row: 1 / -1;
        }

        .minor1 {
            grid-column: 2 / 3;
            margin: 0;
        }

        .minor2 {
            grid-column: 2 / 3;
            margin: 0;
        }

        .lodicka {
            grid-column: 2 / 3;
            grid-row: 1 / -1;
        }

        .podkova {
            grid-column: 1 / 2;
        }

        .zatoka {
            grid-column: 1 / 2;
        }
    }
}

.palmy {
    background-image: url(../images/palmy.png);

    @media (min-width: 768px) {
        background-image: url(../images/palmy@2x.png);
    }
}

.jezero {
    background-image: url(../images/jezero.png);

    @media (min-width: 768px) {
        background-image: url(../images/jezero@2x.png);
    }
}

.nakole {
    background-image: url(../images/nakole.png);

    @media (min-width: 768px) {
        background-image: url(../images/nakole@2x.png);
    }
}

.lodicka {
    background-image: url(../images/lodicka.png);

    @media (min-width: 768px) {
        background-image: url(../images/lodicka@2x.png);
    }
}

.podkova {
    background-image: url(../images/podkova.png);

    @media (min-width: 768px) {
        background-image: url(../images/podkova@2x.png);
    }
}

.zatoka {
    background-image: url(../images/zatoka.png);

    @media (min-width: 768px) {
        background-image: url(../images/zatoka@2x.png);
    }
}

.service {
    &__block {
        background-color: #F0F0F0;
        display: flex;
        justify-content: space-around;
        margin-bottom: $spacer;
    }

    &__logo {
        align-self: flex-start;
        padding: $spacer;
    }

    &__text {
        padding: $spacer;
    }

    &__title {
        color: $color-primary;
        font-size: 18px;
        margin-top: 0;
    }

    &__description {
        font-family: $font-description;
    }

    @media (min-width: 768px) { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacer;

        &__block {
            margin: 0;
            display: block;
            text-align: center;
        }

        &__text {
            padding: 0 $spacer $spacer $spacer;
        }
    }

    @media (min-width: 960px) { 
        grid-template-columns: repeat(4, 1fr);
    }
}

.main__title {
    font-size: 24px;
    font-weight: 600;
}

.news {
    &__block {
    background-color: #F0F0F0;
    margin-bottom: $spacer;
    }

    &__text {
        padding: $spacer;
    }

    &__date {
        color: #888888;
        font-weight: 600;
        margin: 0;
    }

    &__title {
        color: $color-primary;
        margin: 10px 0 10px 0;
    }

    &__description {
        margin: 0;
    }

    @media (min-width: 960px) { 
        display: grid;
        gap: $spacer;
        grid-template-columns: repeat(3, 1fr);
    }
}

.footer {
    background-color: #444444;
    height: 60px;

    &__copyright {
        color: white;
        text-align: center;
        padding: $spacer 0;
    }
}